body{
    margin: 0%;
}
header{
    background-position:top ;
    background-image: url(../img/pattern.png);    
    background-repeat: repeat;
    background-color:#4EA0FF;
    height:180px; 
    position: relative;  
}
.container{
    width: 99%;
    margin: 0 auto;
}
#logo{
    position:absolute;
    height: 100px;
    width: auto;
    top:70px;

}
p>span{
    background-color: yellow;
}

section>span{
    color: rgb(0, 145, 255);
}

#lista{
    padding-left: 2%;
}

table{
    border-collapse:collapse;
    width: 100%;
    
}

td,th{
    width: 20px;
    text-align: left;
}

table tr:first-child{
    color: white;
    background-color: #20a9e5;
    
}

tr:nth-child(even) {
    background-color: #B1E5F2; 
}

main>section{
    color: #828282;
}



.image,.image2{
    position: relative;
}

.image span{
    color: white;
    position: absolute;
    top: 10px;
    left: 10px  ;
}
.image2 span{
    color: white;
    position: absolute;
    top: 10px;
    left: 10px  ;
}