*{
    margin: 0; 
    box-sizing: border-box;
    padding: 0;
}

header{
    background-image: url(../img/pattern.png);    
    background-color:#4EA0FF;
    padding-top:40px;
    padding-bottom: 10px;
    padding-left: 8px;
    background-size: auto 200%; 
}


.container{
    width: 99%;
    margin: 0 auto;
}


#logo{
    height: 40px;
}

p>span{
    background-color: yellow;
}

section>span{
    color: rgb(0, 145, 255);
}

#lista{
    padding-left: 2%;
}

table{
    border-collapse:collapse;
    width: 100%;
    
}

#column{
    width: 50%;
}

thead{
    color: white;
    background-color: #20a9e5;
    
}

tbody tr:nth-child(odd) {
    background-color: #B1E5F2; 
}

main>section{
    color: #828282;
}



.image,.image2{
    position: relative;
}

.image span{
    color: white;
    position: absolute;
    top: 10px;
    left: 10px  ;
}
.image2 span{
    color: white;
    position: absolute;
    top: 10px;
    left: 10px  ;
}